@font-face {
  font-family: slot;
  src: url(/fonts/slot-font.otf);
}

@font-face {
  font-family: 'Exo 2';
  src: url(/fonts/exo-2.ttf);
}

@font-face {
  font-family: 'Faster';
  src: url(/fonts/faster.ttf);
}

@font-face {
  font-family: 'Glitch';
  src: url(/fonts/glitch.ttf);
}

@font-face {
  font-family: arance-soft-regular;
  src: url(/fonts/arance-soft-regular.ttf);
}

@keyframes open {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes imageHover {
  0% {
    transform: scale(1);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    filter: blur(0);
    transform: scale(1.1);
  }
}

@keyframes dropImage {
  0% {
    transform: scale(1.1);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    transform: scale(1);
  }
}

.title-text {
  color: white;
  font-size: 40px;
  font-weight: 600;
  @screen sm {
    font-size: 64px;
  }
}

.active-link {
  background: #6600ff !important;
  border-radius: 12px;
  color: white !important;
  img {
    filter: none !important;
  }
}

.link {
  font-weight: 500;
  transition: 0.2s;
  width: 120px;
  height: 40px;
  border-radius: 12px;
  &:hover {
    background: #9e68ff;
    img {
      filter: brightness(0) saturate(100%) invert(76%) sepia(99%) saturate(301%)
        hue-rotate(327deg) brightness(107%) contrast(101%);
    }
  }
  @apply flex items-center justify-center gap-2;
}

.subtitle-text {
  font-size: 18px;
  color: #c5c6d3;
  font-weight: 500;
}

.slot-font {
  color: #dbd744;
  font-family: slot;
  font-size: 24px;
  font-weight: 500;
}

.lottery-title {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.default-text {
  color: #e6e6e6 !important;
}

.link-text {
  color: #ffdc7e;
  font-weight: 500;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.link-text-underlined {
  color: #ffdc7e;
  border-bottom: 1px solid #ffdc7e;
  transition: 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

.text_image {
  @apply flex items-center gap-2;
}

.bet-btn {
  @apply flex items-center justify-center gap-2 h-[56px] text-2xl;
}

.big {
  margin-left: 12% !important;
  margin-right: 12% !important;
}

.small {
  margin-left: 4% !important;
}

.close {
  position: absolute;
  top: 20px;
  right: 10px;
  margin: auto;
}

.icon:hover {
  color: #ffdc7e;
  img {
    filter: brightness(0) saturate(100%) invert(75%) sepia(99%) saturate(270%)
      hue-rotate(333deg) brightness(104%) contrast(102%);
  }
}

body {
  overflow-x: hidden;
  font-family: 'Exo 2';
  color: white;
}

.modal {
  z-index: 10000;
}

.scard {
  background-color: #201a29;

  &__actions {
    border-top: 2px solid #424245;
    & > * {
      padding: 10px 0;
      &:hover {
        background: #281f33;
      }
    }
  }
  &--light {
    background: #251f2d;
  }
}

.raw-card {
  width: calc(100% - 40px);
  background-color: #201a29;
  border-radius: 10px;
  padding: 20px;
  &--light {
    background: #251f2d;
    border-radius: 10px;
    padding: 18px;
  }
}

.raw-card-wrapper {
  display: flex;
  justify-content: center;
}

.scard {
  background-color: #201a29;

  &__actions {
    border-top: 2px solid #424245;
    & > * {
      padding: 10px 0;
      &:hover {
        background: #281f33;
      }
    }
  }
  &--light {
    background: #251f2d;
  }
}

.raw-card {
  width: calc(100% - 40px);
  background-color: #201a29;
  border-radius: 10px;
  padding: 20px;
  &--light {
    background: #251f2d;
    border-radius: 10px;
    padding: 18px;
  }
}

.raw-card-wrapper {
  display: flex;
  justify-content: center;
}

.m-0x {
  background: #0075ff;
  color: white;
}

.m-1x {
  background: #fff800;
  color: #171120;
}

.m-2x {
  background: #00ffaf;
  color: #171120;
}

.m-3x {
  background: #ff1d00;
  color: white;
}

.m-4x {
  background: #ff00bd;
  color: white;
}

.m-10x {
  background: #60f;
  color: white;
}
